@charset "utf-8";

/* form */
.form-control {
	border-color: #ced4da;
}

/* Hide the browser's default checkbox */
.container input[type='checkbox']:disabled {
  position: relative;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: -1px;
  height: 13px;
  width: 13px;
  background-color: red;
  border-radius: 3px;
}

/* On mouse-over, add a grey background color
.container:hover input[type='checkbox']:disabled ~ .checkmark {
  background-color: #FF1400;
}
 */

/* When the checkbox is checked, add a blue background */
.container input[type='checkbox']:disabled ~ .checkmark {
  display: inline-block;
  background-color: #FF1400;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input[type='checkbox']:disabled ~ .checkmark:after {
  display: none;
}


/* Style the checkmark/indicator */
/* .container .checkmark:after {
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} */

